html {
	overflow-y: scroll;

}

body {
	font-family: Century Gothic, sans-serif;
	margin: 10px auto;
	border-left: 10px;
	width: 1200px;
	color: #333333;
	border:1px solid #ccc;
	border-radius:10px;
}

div#cabecalho {
	text-align:center;
	padding:20px 20px;
	background-color:white;
	color:black;
	border-radius:9px 9px 0 0;
	background-color:white;
}

div#menu  {
	background-color:#ccc;
	padding:10px;
}

a {
	color: #333333;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

div#cabecalho h1 {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size:40px;
}

div#cabecalho a {
	color:black;
	text-decoration:none;
}

div#menu ul {
	padding-left:0;
	margin:0;
	display:inline;
}

div#menu li {
	display:inline;
	border-right:solid;
	border-width:2px;
	border-color:white;
	padding:0px 5px;
}

div#menu li:last-child {
	border-right:none;
}

div#menu ul.login {
	float:right;
}

div#conteudo{
	margin:0;
	margin-top:10px;
	padding:0 10px;
}

div#search{
	margin:0;
	margin-top:10px;
	padding:0 10px;
	text-align:right;
}

div#conteudo h3 {
	margin:0;
	margin-bottom:10px;
	font-size:30px;
}

div#conteudo h4 {
	margin-top:20px; 
	margin-bottom:10px;
	font-size:30px;
}

div#conteudo h5 {
	margin-top:20px; 
	margin-bottom:10px;
	font-size:20px;
	font-weight: normal !important;
}

div#comment_from_server
{
	border-style:solid;
	border-width:1px;
}

div#comment_from_server h1
{
	font-size:15px;
}

div#comment_from_server date
{
	font-size:10px;
}

div.arrow {
	float:right;
	cursor: pointer;
}

div.noticia {
	margin-top: 4px;
	display: inline-block;
	width:100%;
}

div.server div.noticia {
	display:none;
}

div.noticia img {
	float:left;
	margin-right:10px;
}
div.noticia_index img {
	float:left;
	margin-right:10px;
	width: 100%;
}

div.noticia_index {
	position:relative;
	margin-top: 13px;
	/*border-bottom: 4px solid #CCC;*/
	display: inline-block;
	width: 25%;
	float: left;
	height: 290px;
}

div.noticia_index>h3{
	display: inline-block;
	position: absolute;
	width:285px;
	left:0;
	bottom:93px;
	padding:0 5px;
	word-wrap: break-word;
	background-color: rgba(0, 0, 0, 0.5);
}

div.noticia_index>h3>a{
	color: white;
	margin-left: 5px;
}

div.noticia_index li {
	display:inline;
	border-right:solid;
	border-width:2px;
	border-color:white;
	padding-left: 2%;
	padding-right: 2%;
}

div.noticia_index li:first-child {
	border-left:solid;
	border-width:2px;
	border-color:white;
}

div.noticia_index ul {
	position:absolute;
	bottom:-10px;
	width:285px;
	background-color:#ccc;
	padding:5px;
}

div#rodape {
	border-top:1px solid #ccc;
	margin:0;
	padding:5px 0;
	border-radius:0 0 9px 9px;
	background-color:black;
	color:white;
	display: inline-block;
	width: 100%;
	clear:both;
}

div#rodape p {
	margin:0 10px;
}

div.del_favorite, div.add_favorite{
	float:right;
	padding-top:5px;
	margin-left:10px;
	cursor:pointer;
}

div.noticia ul {
	margin-top:30px;
	padding-left:0;
	background-color:#ccc;
	padding:5px;
}

div.noticia li {
	display:inline;
	border-right:solid;
	border-width:2px;
	border-color:white;
	padding:0px 5px;
}

div.noticia li:last-child {
	border-right:none;
}

div.noticia h3 {
	text-align:justify;
}

textarea {
	max-width:700px;
}

div.newsbody {
	font-size:20px;
	text-align:justify;
	clear:right;
}

div.newsdetails {
	clear:both;
	font-size:12px;
	font-style:italic;
}

div.newstags {
	font-size:12px;
	font-weight: bold;
}

table#change_permissions {
	margin: auto;
	text-align:center;
	border-collapse:collapse;
	border-style:outset;
	border-width:1px;
	border-color:#ccc;
}

table#change_permissions td{
	border-style:inset;
	border-width:1px;
	border-color:#ccc;
}

div#controlos{
	width: 100%;
	display: inline;
	float: left;
}

h4.servertitle{
	border-bottom:1px solid;
}

div#message{
	position:relative;
	background-color:#4ea5cd;
	border:1px solid #3b8eb5;
	color:white;
	text-align:center;
	padding:10px 0;
	font-size:25px;
}

div#close{
	position:absolute;
	top:0;
	right:2px;
	font-size:15px;
	cursor:pointer; 
}